# WEB SCRAPING – ASSIGNMENT 4

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\vishal\anaconda3\lib\site-packages (4.8.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\vishal\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\vishal\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\vishal\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\vishal\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: attrs>=19.2.0 in c:\users\vishal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\vishal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\vishal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\users\vishal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\vishal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\vishal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: outcome in c:\users\vishal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\vishal\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\vishal\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\vishal\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\vishal\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\vishal\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd 
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

1. Scrape the details of most viewed videos on YouTube from Wikipedia.

In [21]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [22]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [23]:
rank_no=[]
name_person=[]
artist_person=[]
upload_date=[]
views_num=[]

In [24]:
try:
    rank=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in rank:
        rank_no.append(i.text)
except NoSuchElementException:
    rank_no.append('-')
try: 
    name=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
    for i in name:
        name_person.append(i.text)
except NoSuchElementException:
    name_person.append('-')
try:
    artist=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
    for i in artist:
        artist_person.append(i.text)
except NoSuchElementException:
    artist_person.append('-')
try:
    upload=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')
    for i in upload:
        upload_date.append(i.text)
except NoSuchElementException:
    upload_date.append('-')
try:
    views=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')
    for i in  views:
        views_num.append(i.text)
except NoSuchElementException:
    views_num.append('-')

In [25]:
len(rank_no),len(name_person),len(artist_person),len(upload_date),len(views_num)

(30, 30, 30, 30, 30)

In [58]:
import pandas as pd
df=pd.DataFrame({'Rank':rank_no,'Name':name_person,'Artist':artist_person,'Upload Date':upload_date,'Views':views_num})
df

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.37
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.09
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.63
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.03
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.92
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.79
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.17
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.95
8,9.,"""Uptown Funk""[25]",Mark Ronson,"November 19, 2014",4.84
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.83
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.70
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.53
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.24
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.82
14,15.,"""Axel F""[35]",Crazy Frog,"June 16, 2009",3.76
15,16.,"""Roar""[36]",Katy Perry,"September 5, 2013",3.73
16,17.,"""Counting Stars""[37]",OneRepublic,"May 31, 2013",3.73
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.63
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.55
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.51
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,"June 4, 2010",3.48
21,22.,"""Dark Horse""[42]",Katy Perry,"February 20, 2014",3.45
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.41
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.38
24,25.,"""Girls Like You""[45]",Maroon 5,"May 31, 2018",3.37
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.37
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.34
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.33
28,29.,"""Lakdi Ki Kathi""[49]",Jingle Toons,"June 14, 2018",3.32
29,30.,"""Humpty the train on a fruits ride""[50]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.31

2. Scrape the details team India’s international fixtures from bcci.tv.

In [32]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [33]:
driver.get("https://www.bcci.tv/.")

In [34]:
international=driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
international.click()

In [35]:
match_title=[]
series_num=[]
place_venu=[]
date_num=[]
time_num=[]

In [36]:
match=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in match:
    match_title.append(i.text)

    series=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series:
    series_num.append(i.text)

    place=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for i in place:
    place_venu.append(i.text)

    date=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date:
    date_num.append(i.text)

    time=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time:
    time_num.append(i.text)

In [37]:
len(match_title),len(series_num),len(place_venu),len(date_num),len(time_num)

(3, 3, 3, 3, 3)

In [38]:
import pandas as pd 
df=pd.DataFrame({'Match Title':match_title,'Series':series_num,'Place':place_venu,'Date':date_num,'Time':time_num})
df

,Match Title,Series,Place,Date,Time
0,1st ODI -,AUSTRALIA TOUR OF INDIA 2023,"1st ODI - Wankhede Stadium, Mumbai",17 MAR 2023,1:30 PM IST
1,2nd ODI -,AUSTRALIA TOUR OF INDIA 2023,2nd ODI - Dr YS Rajasekhara Reddy ACA-VDCA Cri...,19 MAR 2023,1:30 PM IST
2,3rd ODI -,AUSTRALIA TOUR OF INDIA 2023,"3rd ODI - MA Chidambaram Stadium, Chennai",22 MAR 2023,1:30 PM IST

3. Scrape the details of State-wise GDP of India from statisticstime.com.

In [39]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [40]:
driver.get("http://statisticstimes.com/")

In [45]:
economy=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

In [46]:
india=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()

In [47]:
stateGDP=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
stateGDP.click()

In [48]:
rank_num=[]
state_place=[]
gsdp_18=[]
gsdp_19=[]
share_num=[]
gdp_num=[]

In [50]:
try:
    rank=driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[1]')
    for i in rank:
        rank_num.append(i.text)
except NoSuchElementException:
    rank_num.append('-')
try:
    state=driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[2]')
    for i in state:
        state_place.append(i.text)
except NoSuchElementException:
    state_place.append('-')
try:
    gsdp=driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[4]')
    for i in gsdp:
        gsdp_18.append(i.text)
except NoSuchElementException:
    gsdp_18.append('-')
try:
    gsdp=driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[3]')
    for i in gsdp:
        gsdp_19.append(i.text)
except NoSuchElementException:
    gsdp_19.append('-')
try:
    share=driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[5]')
    for i in share:
        share_num.append(i.text)
except NoSuchElementException:
    share_num.append('-')
try:
    gdp=driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[6]')
    for i in gdp:
        gdp_num.append(i.text)
except NoSuchElementException:
    gdp_num.append('-')

In [51]:
len(rank_num),len(state_place),len(gsdp_18),len(gsdp_19),len(share_num),len(gdp_num)

(34, 34, 34, 34, 34, 34)

In [57]:
import pandas as pd
df=pd.DataFrame({'Rank':rank_num,'State':state_place,'GSDP(18-19)-at current prices': gsdp_18,'GSDP(19-20)-at current prices':gsdp_19,'Share(18-19)':share_num,'GDP($billion)':gdp_num})
df

,Rank,State,GSDP(18-19)-at current prices,GSDP(19-20)-at current prices,Share(18-19),GDP($billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
2,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
3,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
4,9,Telangana,"861,031","969,604",4.56%,130.791
5,11,Kerala,"781,653",-,4.14%,118.733
6,13,Haryana,"734,163","831,610",3.89%,111.519
7,15,Punjab,"526,376","574,760",2.79%,79.957
8,17,Assam,"315,881",-,1.67%,47.982
9,19,Jharkhand,"297,204","328,598",1.57%,45.145
10,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
11,23,Goa,"73,170","80,449",0.39%,11.115
12,25,Chandigarh,"42,114",-,0.22%,6.397
13,27,Meghalaya,"33,481","36,572",0.18%,5.086
14,29,Manipur,"27,870","31,790",0.15%,4.233
15,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
16,33,Andaman & Nicobar Islands,-,-,-,-
17,1,Maharashtra,"2,332,992",-,13.97%,-
18,3,Uttar Pradesh,"1,404,761","1,495,758",8.41%,"1,015,735"
19,5,Gujarat,"1,322,936",-,7.92%,-
20,7,Rajasthan,"845,247","916,014",5.06%,"630,693"
21,9,Andhra Pradesh,"776,140","875,429",4.65%,"595,605"
22,11,Kerala,"707,542",-,4.24%,-
23,13,Haryana,"666,075","755,790",3.99%,"514,983"
24,15,Punjab,"472,506","517,521",2.83%,"374,015"
25,17,Assam,"282,782",-,1.69%,-
26,19,Chhattisgarh,"266,537","288,041",1.60%,"210,837"
27,21,Himachal Pradesh,"133,303","143,063",0.80%,"107,171"
28,23,Goa,"66,060","72,181",0.40%,"56,810"
29,25,Chandigarh,"37,571",-,0.22%,-
30,27,Meghalaya,"29,544","32,833",0.18%,"23,564"
31,29,Sikkim,"25,141","28,391",0.15%,"17,060"
32,31,Arunachal Pradesh,"22,488",-,0.13%,-
33,33,Andaman & Nicobar Islands,-,-,-,-

4. Scrape the details of trending repositories on Github.com.

In [63]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [64]:
driver.get("https://github.com/")

In [65]:
source=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
source.click()

In [66]:
trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
trending.click()

In [74]:
repository_title=[]
repository_des=[]
contributors_count=[]
lang_usd=[]

In [75]:
try:
    repository=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
    for i in repository:
        repository_title.append(i.text)
except NoSuchElemenetException:
    respository_title.append('-')
try:
    repository=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for i in repository:
        repository_des.append(i.text)
except NoSuchElementException:
    repository_des.append('-')
try:
    contributors=driver.find_elements(By.XPATH,'//span[@class="d-inline-block mr-3"]')
    for i in contributors:
        contributors_count.append(i.text)
except NoSuchElementException:
    contributors_count.append('-')
try:
    lang=driver.find_elements(By.XPATH,'//span[@class="repo-language-color"]')
    for i in lang:
        lang_usd.append(i.text)
except NoSuchElementException:
    lang_usd.append('-')

In [76]:
len(repository_title),len(repository_des),len(contributors_count),len(lang_usd)

(24, 23, 24, 23)

5. Scrape the details of top 100 songs on billiboard.com.

In [56]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [57]:
driver.get("https:/www.billboard.com/")

In [58]:
charts=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
charts.click()

In [60]:
billboard=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a')
billboard.click()

In [61]:
song_name=[]
artist_name=[]
last_week=[]
peak_rank=[]
weeks_bord=[]

In [35]:
try:
    song=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
    for i in song:
        song_name.append(i.text)
except NoSuchElementException:
    song_name.append(i.text)
try:
    artist=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/span[1]')
    for i in artist:
        artist_name.append(i.text)
except NoSuchElementException:
    artist_name.append('-')
try:
    last=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p u-hidden@tablet"]/ul/li[3]')
    for i in last:
        last_week.append(i.text)
except NoSuchElementException:
    last_week.append('-')
try:
    peak=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p u-hidden@tablet"]/ul/li[4]')
    for i in peak:
        peak_rank.append(i.text)
except NoSuchElementException:
    peak_rank.append('-')
try:
    weeks=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p u-hidden@tablet"]/ul/li[5]')
    for i in weeks:
        weeks_bord.append(i.text)
except NoSuchElementException:
    weeks_bord.append('-')

In [36]:
len(song_name),len(artist_name),len(last_week),len(peak_rank),len(weeks_bord)

(100, 400, 100, 100, 100)

In [14]:
try:
    artist=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/span[1]')
    for i in artist:
        artist_name.append(i.text)
except NoSuchElementException:
    artist_name.append('-')

In [67]:
artist_name=[]
artist=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/span[1]')
    for i in artist:
        artist_name.append(i.text.split('0'))

IndentationError: unexpected indent (3579314952.py, line 3)

In [15]:
len(artist_name)

400

In [17]:
import pandas as pd 
df=pd.DataFrame({'Artist':artist_name})
df

                          Artist
0                  Morgan Wallen
1                              5
2                              1
3                              6
4                    Miley Cyrus
..                           ...
395                            9
396  Tiesto Featuring Tate McRae
397                           81
398                           69
399                            7

[400 rows x 1 columns]

6. Scrape the details of Highest sellingnovels.

In [39]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [40]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare")

7. Scrape the details most watched tv series of all time from imdb.com.

In [41]:
driver=webdriver.Chrome(r"Chromedriver.exe")

In [42]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [46]:
name_movie=[]
year_span=[]
run_time=[]
ratings_num=[]
votes_num=[]
genre_sp=[]

In [48]:
try:
    name=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
    for i in name:
        name_movie.append(i.text)
except NoSuchElementException:
    name_movie.append('-')
try:
    year=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
    for i in year:
        year_span.append(i.text)
except NoSuchElementException:
    year_span.append('-')
try:
    run=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[3]')
    for i in run:
        run_time.append(i.text)
except NoSuchElementException:
    run_time.append('-')
try:
    votes=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"][3]/span[2]')
    for i in votes:
        votes_num.append(i.text)
except NoSuchElementException:
    votes_num.append('-')
try:
    genre=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[5]')
    for i in genre:
        genre_sp.append(i.text)
except NoSuchElementException:
    genre_sp.append('-')
try:
    ratings=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]/span[2]')
    for i in ratings:
        ratings_num.append(i.text)
except NoSuchElementException:
    ratings_num.append('-')

In [49]:
len(name_movie),len(year_span),len(ratings_num),len(genre_sp),len(run_time),len(votes_num)

(100, 100, 100, 100, 100, 100)

In [50]:
import pandas as pd 
df=pd.DataFrame({'Name':name_movie,'Year Span':year_span,'Genre':genre_sp,'Run Time':run_time,'Ratings':ratings_num,'Votes':votes_num})
df

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,138,066"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,222,990"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,014,990"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"298,982"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"257,847"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,009"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,027"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"204,895"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"42,440"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"253,545"

8. Details of Datasets from UCI machine learning repositories.

In [21]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [22]:
driver.get("https://archive.ics.uci.edu/")

In [23]:
viewall=driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/span/b/a')
viewall.click()

In [27]:
data_name=[]
data_type=[]
task_de=[]
attri_type=[]
no_ins=[]
no_attri=[]
year_num=[]

In [28]:
try:
    data=driver.find_elements(By.XPATH,'html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]')
    for i in data:
        data_name.append(i.text)
except NoSuchElementException:
    data_name.append('-')
try:
    data=driver.find_elements(By.XPATH,'html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
    for i in data:
        data_type.append(i.text)
except NoSuchElementException:
    data_type.append('-')
try:
    task=driver.find_elements(By.XPATH,'html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
    for i in task:
        task_de.append(i.text)
except NoSuchElementException:
    task_de.append('-')
try:
    attri=driver.find_elements(By.XPATH,'html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
    for i in attri:
        attri_type.append(i.text)
except NoSuchElementException:
    attri_type.append('-')
try:
    no=driver.find_elements(By.XPATH,'html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
    for i in no:
        no_attri.append(i.text)
except NoSuchElementException:
    no_attri.append('-')
try:
    no=driver.find_elements(By.XPATH,'html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
    for i in no:
        no_ins.append(i.text)
except NoSuchElementException:
    no_ins.append('-')
try:
    year=driver.find_elements(By.XPATH,'html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')
    for i in year:
        year_num.append(i.text)
except NoSuchElementException:
    year_num.append('-')

In [29]:
len(data_name),len(data_type),len(task_de),len(attri_type),len(no_ins),len(no_attri),len(year_num)

(623, 623, 623, 623, 623, 623, 623)

In [30]:
import pandas as pd
df=pd.DataFrame({'Dataset Name':data_name,'Data Type':data_type,'Task':task_de,'Attribute Type':attri_type,'No of Instances':no_ins,'No of Attributes':no_attri,'Year':year_num})
df

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attributes,Year
0,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
...,...,...,...,...,...,...,...
618,Influenza outbreak event prediction via Twit...,Multivariate,Classification,"Integer, Real",75840,525,2020
619,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
620,Maternal Health Risk Data Set,,Classification,,1014,7,2020
621,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
622,Image Recognition Task Execution Times in Mo...,Univariate,Regression,Real,4000,2,2021

9. Scrape the details of Data science recruiters

In [45]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [46]:
driver.get("https://www.naukri.com/hr-recruiters-consultants")

In [47]:
search=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
search.send_keys('Data Science')

In [48]:
search=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
search.click()

In [52]:
hr_name=[]
desi_posi=[]
com_name=[]
skill_hire=[]
loca_place=[]

In [53]:
try:
    hr=driver.find_elements(By.XPATH,'//a[@class="ellipsis"]/span')
    for i in hr:
        hr_name.append(i.text)
except NoSuchElementException:
    hr_name.append('-')
try:
    desi=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
    for i in desi:
        desi_posi.append(i.text)
except NoSuchElementException:
    desi_posi.append('-')
try:
    com=driver.find_elements(By.XPATH,'//a[@class="ellipsis"][2]')
    for i in com:
        com_name.append(i.text)
except NoSuchElementException:
    com_name.append('-')
try:
    skill=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
    for i in skill:
        skill_hire.append(i.text)
except NoSuchElementException:
    skill_hire.append('-')
try:
    loca=driver.find_elements(By.XPATH,'//div[@class="vcard"]/p/span[2]')
    for i in loca:
        loca_place.append(i.text)
except NoSuchElementException:
    loca_place.append('-')

In [54]:
len(hr_name),len(desi_posi),len(com_name),len(skill_hire),len(loca_place)

(50, 50, 50, 50, 49)